*{
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  position: fixed;
}



.navbar .container {
  display: block !important;
}

.navbar .justify-spacebetween {
  justify-content: space-between;
}

/* .navbar .header-btn {
  background: linear-gradient(96deg, #6600FC 0%, #FA3988 51.56%, #FF8408 100%) !important;
  color: white;
  font-weight: bold;
  padding: 13px 25px;
  text-decoration: none;
  border-radius: 10px;
  font-family: "Libre Franklin", sans-serif;
  font-size: 16px;
  display: block;
} */

/* .navbar .header-btn:hover {
  opacity: 0.9;
} */

.navbar {

  align-items: baseline;

}

/* .navbar-nav .nav-item .nav-link:hover {
  color: #6600FC !important;
} */

.flex {
  display: flex;
  flex-wrap: nowrap;
  margin-bottom: 0 !important;
}
.col-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
    font-size: 14px;
}
.top{
  background-color: #ede9a0 !important ;
}

.nav-item{
  padding: 0px 5px;
  font-size: 14px;
}